<nav>
    <div class="hamburger-menu" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <a href="/" class="logo">MyBlogs</a>
    <div class="links-container">
        <a href="/">Home</a>
        <a href="/#blog-section">Blogs</a>
        <a href="/about">About</a>
    </div>
    <a href="/add-blog" class="add-blog">Add Blog</a>
</nav>
