<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Blog</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
</head>
<body>
    <%- include('partials/navbar') %>
    
    <h1 class="add-blog-title" data-aos="fade-up">Add a New Blog</h1>
    <div class="add-blog-container" data-aos="fade-right" data-aos-delay="300">

        <form action="/add-blog" method="POST" class="add-blog-form">
            <label for="title" class="add-blog-label">Title:</label>
            <input type="text" id="title" name="title" class="add-blog-input" required>

            <label for="content" class="add-blog-label">Content:</label>
            <textarea id="content" name="content" class="add-blog-textarea" required></textarea>

            <div class="add-blog-buttons">
                <a href="/" class="add-blog-back-btn">Back to Home</a>
                <button type="submit" class="add-blog-button">Save</button>
            </div>
        </form>
    </div>

    <%- include('partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
        // Initialize AOS
        AOS.init({
          duration: 1200, 
        });
    </script> 
    <script src="/js/menu.js"></script>
</body>
</html>
